body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	font-size:1em;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	cursor: default;
}

.header {
	text-align: center;

}

.game {
	display: flex;
	justify-content: center;
}

h1 {
	font-family: 'Federo', sans-serif;
	color: #57B70F;
	font-size: 3.5em;
	margin: 5px auto;
}

h2{
	font-family: 'Aclonica', sans-serif;
	color: #57B70F;
	font-size: 2.5em;
	margin: 5px 0 10px 0;
}


h3{
	font-size:1.7em;
	margin:0;
	color:#57B70F;
	margin-bottom: 10px;
} 

#game-status {
	color: #57B70F;
	background-color: #001835;
	width: auto;
	height: auto;
	display: inline-block;
	font-size: 2em;
	text-align: center;
}

div.card{
	display: inline-block;
	width: 100px;
	height: 150px;
	border: solid 1px #333;
	border-radius: 5px 15px 5px 15px;
	float: left;
	margin: 0 15px;
	position: relative;
	background-color: #F9F9F9;
}

div.card.hearts, div.card.diamonds{
	color: red;
}

div.card div.main-number{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin: 0px auto;
	margin-top: 50px;
}

div.card-value, div.suit{
	position: absolute;
}

div.suit{
	top: 18px;
	left: 5px;
}

div.card-value{
	top: 5px;
	left: 5px;
}

div.card-value.invert, div.suit.invert{
	transform: rotate(180deg);
	right: 5px;
	text-align: right;
	top: auto;
	left: auto;
}

div.card-value.invert{
	bottom: 5px;
}
div.suit.invert{
	bottom: 20px;
}

div.dealer-area{
	padding-top: 5px;
	float: left;
	background-color: #001835;
	border-style: inset inset inset solid;
	border-color: #57B70F;
	border-width: thick thick thick thin;
	border-radius: 0px 15px 10px 0px;
}

div.user-area{
	padding-top: 5px;
	float: left;
	background-color: #001835;
	border-style: inset solid inset inset;
	border-color: #57B70F;
	border-width: thick thin thick thick;
	border-radius: 10px 0px 0px 15px;
}

div#user-score, div#dealer-score{
	display: inline-block;
	font-size: 1.2em;
}

div.score-parent{
	width: 100%;
	display: inline-block;
	color:#57B70F;
	font-size: 1.2em;
}

div.score-parent p{
	display: inline-block;
}

div#dealer-score{
	visibility: hidden;
}

div.card#hidden-card{
	background-color: #57B70F;
	background-size: contain;
	background-image: url(../images/logo.png);
	border-radius: 15px 5px 15px 5px;
}

div.card#hidden-card div{
	visibility: hidden;
}

div.controls input{
	display: inline-block;
	/*margin-left: 20px;*/
	width: 35%;
	margin-bottom: 5px;
}
.button {
	background-color: #57B70F;
	color: #001835;
	border: none;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 1em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 5px 10px 5px 10px;
	cursor: pointer;
}
.button:hover {
	background-color: #73F60F;
}
.button:focus {
	outline: 0 !important;
}
div#money{
	margin: 5px auto;
	color:#57B70F;
	font-size: 1.2em;
}
